 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
              <a routerLink="/access/create-location" class="btn btn-primary">Create Location</a>
            </div>
            <h4 class="page-title">Manage Entity Locations</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                    <div class="col-lg-8">
                        <form>
                            <div class="form-group col-xl-6">
                                <select class="custom-select" id="status-select" (change)="getAllMyEntities($event.target.value)">
                                    <option value="0">-select all-</option>
                                    <ng-container *ngFor="let c of lgastates" >
                                        <option value="{{c.id}}">{{c.state_name}}</option>
                                    </ng-container>		
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Search</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                            </div>
                    </div><!-- end col-->
                </div>

            <table class="table table table-nowrap table-hover mb-0 table-responsive">
                        <thead>
                            <tr>
                                <th width="15%">Branch Name</th>
                                <th width="60%">Address</th>
                                <th width="10%">State</th>
                                <th width="10%">LGA</th>
                                <th width="5%">View</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr *ngFor="let c of entityLocations">
                                <td>{{c.entity_location_name}}</td>
                                <td><a href="{{c.address_url}}" target="_blank"> {{c.formatted_address}}</a></td>
                                <td>{{c.state_name}}</td>
                                <td>{{c.lga_name}}</td>
                                <td><a href="javascript:void(0);" (click)="PopulateData(c)" data-toggle="modal"  data-target="#closeorder"  class="text-body font-weight-normal">Click To View</a></td>
                              
                            </tr>
                           
                            
                           

                            
                        </tbody>
                    </table>
                   
        </div>
    </div><!-- end col -->
</div>



<div class="modal fade" id="closeorder">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
            <h4 class="modal-title" id="myCenterModalLabel">Location Information</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
       
            <div class="row">
                <div class="col-md-3"><h4><b>ENTITY NAME</b></h4></div>
                <div class="col-md-9"><h4>{{dt?.entityName}}</h4></div>
            </div>
            <div class="row">
                <div class="col-md-3"><h4><b>BRANCH NAME</b></h4></div>
                <div class="col-md-9"><h4>{{dt?.entity_location_name}}</h4></div>
            </div>
           

            <div class="row">
                <div class="col-md-3"><h4><b>BRANCH ADDRESS</b></h4></div>
                <div class="col-md-9"><h4><a href="{{dt?.address_url}}" target="_blank"> {{dt?.formatted_address}}</a></h4></div>
            </div>

            <div class="row">
                <div class="col-md-3"><h4><b>STATE</b></h4></div>
                <div class="col-md-9"><h4>{{dt?.state_name}}</h4></div>
            </div>
            <div class="row">
                <div class="col-md-3"><h4><b>L.G.A</b></h4></div>
                <div class="col-md-9"><h4>{{dt?.lga_name}}</h4></div>
            </div>
            
          <!-- <ng-container>

          </ng-container> -->
          <img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{qrCodeValue}}" width="500px" height="500px"/>
           <!-- <qrcode [level]="1" [size]="500" data="string" download [qrvalue]="'qrCodeValue'"></qrcode> -->
         
        </div>
      
      
  
      </div>
    </div>
  </div>