
     <!-- start page title -->
     <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <!-- <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control border-0 shadow" id="dash-daterange">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-blue border-blue text-white">
                                        <i class="mdi mdi-calendar-range"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form> -->
                </div>
                <h4 class="page-title">Create Users</h4>
            </div>
        </div> 
    </div>     
    <!-- end page title --> 

    <div class="row">
        <div class="col-lg-12">

            <div class="card-box">
                <p class="text-danger text-right font-14 m-b-20">
                    All fields are required*
                </p>

                    <form [formGroup]="form" (ngSubmit)="submit()" class="parsley-examples">

                        <div class="form-group">
                            <label for="userName">First Name<span class="text-danger">*</span></label>
                            <input type="text" name="firstName" parsley-trigger="change" required
                                   placeholder="Enter First Name" class="form-control" id="firstName" 
                                   formControlName="firstName" [ngClass]="{'is-invalid':submitted && f.firstName.errors}">
                                   <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">this field is required</div>
                                 </div>
                        </div>
                        <div class="form-group">
                            <label for="userName">Last Name<span class="text-danger">*</span></label>
                            <input type="text" name="lastName" parsley-trigger="change" required
                                   placeholder="Enter Last Name" class="form-control" id="lastName" 
                                   formControlName="lastName" [ngClass]="{'is-invalid':submitted && f.lastName.errors}">
                                   <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">this field is required</div>
                                 </div>
                        </div>
                        <div class="form-group">
                            <label for="userName">Email<span class="text-danger">*</span></label>
                            <input type="text" name="email" parsley-trigger="change" required
                                   placeholder="Enter Email Address" class="form-control" id="email" 
                                   formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}">
                                   <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">this field is required</div>
                                 </div>
                        </div>
                        <div class="form-group">
                            <label for="userName">Phone Number<span class="text-danger">*</span></label>
                            <input type="text" name="phone" parsley-trigger="change" required
                                   placeholder="Enter Phone Number" class="form-control" id="phone" 
                                   formControlName="phone" [ngClass]="{'is-invalid':submitted && f.phone.errors}">
                                   <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">this field is required</div>
                                 </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="example-select">Select USERTYPE</label>
                            <select class="form-control" id="userType" 
                            (change)="selectUserType($event.target.value)"
                            formControlName="userType" [ngClass]="{'is-invalid':submitted && f.userType.errors}">
                                <!-- <option value="">-SELECT USER TYPE-</option>
                                <option value="4">NOVUS MAIN ADMIN</option>
                                <option value="5">NOVUS SUB ADMINS</option>
                                <option value="6">NCDC MAIN ADMIN</option> -->
                                <option value="7">NCDC STATE ADMINS</option>
                            </select>
                            <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                                <div *ngIf="f.userType.errors.required">this field is required</div>
                             </div>
            </div>

                    <div class="form-group mb-3" *ngIf="selectState">
                                    <label for="example-select">Select State</label>
                                    <select class="form-control" id="stateId" 
                                   
                                    formControlName="stateId" [ngClass]="{'is-invalid':submitted && f.stateId.errors}">
                                        <option></option>
                                        <option disabled value="0">-ALL STATES-</option>
                                        <ng-container *ngFor="let c of lgastates" >
                                            <option value="{{c.id}}">{{c.state_name}}</option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="submitted && f.stateId.errors" class="invalid-feedback">
                                        <div *ngIf="f.stateId.errors.required">this field is required</div>
                                     </div>
                    </div>

                               
                    
                   
                   
                    <div class="form-group text-right m-b-0">
                        <button class="btn btn-primary waves-effect waves-light" >
                            Submit
                        </button>
                        
                    </div>

                </form>
            </div> <!-- end card-box -->
        </div>
        <!-- end col -->

         <!-- end col -->
    </div>
    <!-- end row-->

    
    <!-- end row -->

    
    <!-- end row -->
