  <!-- start page title -->
  <div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control border-0 shadow" id="dash-daterange">
                            <div class="input-group-append">
                                <span class="input-group-text bg-blue border-blue text-white">
                                    <i class="mdi mdi-calendar-range"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                        <i class="mdi mdi-autorenew"></i>
                    </a>
                    <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                        <i class="mdi mdi-filter-variant"></i>
                    </a>
                </form>
            </div>
            <h4 class="page-title">Entity Exposed Locations</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 

<div class="row">
    <div class="col-12">
        <div class="card-box">
            
            

            <table class="table table table-nowrap table-hover mb-0 table-responsive">
                        <thead>
                            <tr>
                                <th width="10%">Entity</th>
                                <th width="45%">Exposed Location</th>
                                <th width="15%">Date Exposed</th>
                                <th width="10%">Status</th>
                                <th width="20%">Contacts Traced</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of allTraceSummary">
                                <td class="table-user">
                                    <!-- <img src="../assets/images/filmhouse.jpg" alt="table-user" class="mr-2 rounded-circle">
                                    <a href="javascript:void(0);" class="text-body font-weight-normal"></a> -->
                                    {{c.entityName}}
                                </td>
                                <td><a href="{{c.address_url}}" target="_blank">{{c.formatted_address}}</a></td>
                                <td>{{c.DateToTrace | date:'dd/MM/yyyy'}}</td>
                                <td><span class="badge bg-soft-success text-success">Traced</span></td>
                                <td> {{c.contact_counts}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
        </div>
    </div><!-- end col -->
</div>
<!-- end row-->

