 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <!-- <div class="page-title-right">
              <a routerLink="/access/create-user" class="btn btn-primary">Create Users</a>
            </div> -->
            <h4 class="page-title">All Entities</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                    <div class="col-lg-8">
                        <form>
                            <div class="form-group col-xl-6">
                                <!-- <select class="custom-select" id="status-select" (change)="getAllMyEntities($event.target.value)">
                                    <option value="0">-select all-</option>
                                    <ng-container *ngFor="let c of lgastates" >
                                    <ng-container *ngIf="c.id == 5">
                                        <option value="{{c.id}}">{{c.userTypeName}}</option>
                                    </ng-container>
                                    </ng-container>		
                                </select> -->
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Search</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                            </div>
                    </div><!-- end col-->
                </div>

            <table class="table table table-nowrap table-hover mb-0 table-responsive">
                        <thead>
                            <tr>
                                <th width="15%">Assigned Entity</th>
                                <th width="20%">Location</th>
                                <th width="30%">State</th>
                                <th width="30%">Times Exposed</th>
                                <th width="5%">People Exposed</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr *ngFor="let c of entityLocations">
                                <td >{{c.entityName}}</td>
                                <td>{{c.formatted_address}}</td>
                                <td> {{c.state_name}}</td>
                                <td>{{c.timesExposed}}</td>
                                <td>{{c.contactsTraced}} </td>
                              
                            </tr>
                           
                            
                           

                            
                        </tbody>
                    </table>
                   
        </div>
    </div><!-- end col -->
</div>

