<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Upload CV</h3>
            <div class="text">Ready to jump back in?</div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Ls widget -->
                <div class="ls-widget">
                    <div class="tabs-box">
                        <div class="widget-title">
                            <h4>My CV Upload</h4>
                        </div>

                        <div class="widget-content" *ngIf="cvForm">
                            <form [formGroup]="cvForm" (ngSubmit)="Submit()" class="default-form"
                                enctype="multipart/form-data">
                                <div class="row">
                                    <!-- Input -->
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>CV Name</label>
                                        <input 
                                            type="text" 
                                            placeholder="Enter a name for this CV"
                                            formControlName="NamedCV" 
                                            id="NamedCV"
                                            [ngClass]="{'is-invalid':submitted && cvForm.get('NamedCV').errors}" />
                                        <div *ngIf="submitted && cvForm.get('NamedCV').errors" class="invalid-feedback">
                                            <div *ngIf="cvForm.get('NamedCV').errors.required">this field is required</div>
                                        </div>
                                    </div>

                                    <!-- Input -->
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>CV</label>
                                        <input 
                                            type="file" 
                                            placeholder="Upload File"                                            
                                            (change)="handleFileInput($event)"
                                            id="file"                                            
                                            accept=".pdf"
                                            [ngClass]="{'is-invalid':submitted && cvForm.get('file').errors}">
                                        <div *ngIf="submitted && cvForm.get('file').errors" class="invalid-feedback">
                                            <div *ngIf="cvForm.get('file').errors.required">this field is required</div>
                                        </div>

                                    </div>


                                    <!-- Input -->
                                    <div class="form-group col-lg-12 col-md-12">
                                        <button class="theme-btn btn-style-one">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>
</section>