<section class="page-title style-two">
    <div class="auto-container">
        <!-- Job Search Form -->
        <div class="job-search-form"> 
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <!-- Form Group -->
                    <div class="form-group col-lg-4 col-md-12 col-sm-12">
                        <span class="icon flaticon-search-1"></span>
                        <input type="text" formControlName="keyword" id="keyword" placeholder="Job title, keywords, or company">
                    </div>
                    
                    <!-- Form Group -->
                    <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
                        <span class="icon flaticon-map-locator"></span>
                        <select class="chosen-select" formControlName="location" id="location">
                            <option value="-all-">All States</option>
                            <option value="c" *ngFor="let c of states;let i = index">{{c}}</option>
                        
                        </select> 
                    </div>

                    <!-- Form Group -->
                    <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
                        <span class="icon flaticon-briefcase"></span>
                        <select class="chosen-select" formControlName="category" id="category">
                            <option value="-all-">All Categories</option>
                            <option value="c.id" *ngFor="let c of categories;let i = index">{{c.category}}</option>
                        
                        </select>
                    </div>

                    <!-- Form Group -->
                    <div class="form-group col-lg-2 col-md-12 col-sm-12 text-right">
                        <button type="submit" class="theme-btn btn-style-one">Find Jobs</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Job Search Form -->
    </div>
</section>
<!--End Page Title-->
 
    <!-- Listing Section -->
<section class="ls-section">
    <div class="auto-container">
        <div class="filters-backdrop"></div>
        
        <div class="row">
           
            <div class="content-column col-lg-12">
                <div class="ls-outer">
                   
                    <!-- <div class="ls-switcher">
                        <div class="showing-result">
                            <div class="top-filters">
                                <div class="form-group">
                                    <select class="chosen-select">
                                        <option>Job Type</option>
                                        <option>New Jobs</option>
                                        <option>Freelance</option>
                                        <option>Full Time</option>
                                        <option>Internship</option>
                                        <option>Part Time</option>
                                        <option>Temporary</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select class="chosen-select">
                                        <option>Date Posted</option>
                                        <option>New Jobs</option>
                                        <option>Freelance</option>
                                        <option>Full Time</option>
                                        <option>Internship</option>
                                        <option>Part Time</option>
                                        <option>Temporary</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select class="chosen-select">
                                        <option>Experience Level</option>
                                        <option>New Jobs</option>
                                        <option>Freelance</option>
                                        <option>Full Time</option>
                                        <option>Internship</option>
                                        <option>Part Time</option>
                                        <option>Temporary</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select class="chosen-select">
                                        <option>Salary estimate</option>
                                        <option>New Jobs</option>
                                        <option>Freelance</option>
                                        <option>Full Time</option>
                                        <option>Internship</option>
                                        <option>Part Time</option>
                                        <option>Temporary</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="sort-by">
                            <select class="chosen-select">
                                <option>New Jobs</option>
                                <option>Freelance</option>
                                <option>Full Time</option>
                                <option>Internship</option>
                                <option>Part Time</option>
                                <option>Temporary</option>
                            </select>

                            <select class="chosen-select">
                                <option>Show 10</option>
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                                <option>Show 50</option>
                                <option>Show 60</option>
                            </select>
                        </div>
                    </div> -->

                    <div class="row">
                       
                      
                      <ng-container *ngFor="let c of jobDetails">

                    
                        <div class="job-block col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="content">
                                    <span class="company-logo">
                                        <!-- <img src="images/resource/company-logo/1-2.png" alt=""> -->
                                    </span>
                                    <h4><a routerLink="/home/job-single/{{c.id}}">{{c.jobTitle}}</a></h4>
                                    <ul class="job-info">
                                        <!-- <li><span class="icon flaticon-briefcase"></span> Segment</li> -->
                                        <li><span class="icon flaticon-map-locator"></span> <a routerLink="/home/job-single/{{c.id}}">{{c.jobLocation}}</a></li>
                                        <li><span class="icon flaticon-clock-3"></span> <a routerLink="/home/job-single/{{c.id}}">{{c.createdDate | date:'EEEE, d, MMMM, yyyy'}}</a></li>
                                        <li><span class="icon flaticon-money"></span><a routerLink="/home/job-single/{{c.id}}"> {{utils.getCurrency()}} {{c.salaryRangeFrom | number:'.2'}} - {{utils.getCurrency()}}{{c.salaryRangeTo | number:'.2'}}</a></li>
                                    </ul>
                                    <ul class="job-other-info">
                                        <!-- <li class="time">Full Time</li> -->
                                        <li *ngIf="c.urgency" class="required">URGENT</li>
                                        <li class="time">{{c.jobType}}</li>
                                    </ul>
                                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                                </div>
                            </div>
                        </div>
                      </ng-container>
                       
                    </div>

                    <!-- Pagination -->
                    <nav class="ls-pagination">
                        <ul>
                            <li class="prev"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="current-page">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Listing Page Section -->