<!-- Job Detail Section -->

<section class="job-detail-section" style="background-color: #4343ec;">
    <!-- Upper Box -->
    <div class="upper-box">
        <div class="auto-container">
            <!-- Job Block -->
            <div class="job-block-seven">
                <br /><br />
                <div class="inner-box">
                    <div class="content">
                        <span class="company-logo"><img
                                src="{{jobDetails.profilePictureURL || 'assets/images/resource/company-logo/3-5.png'}}"
                                alt="company_logo"></span>
                        <h4>{{jobDetails.jobTitle}}</h4>
                        <ul class="job-info">
                            <!-- <li><span class="icon flaticon-briefcase"></span> {{jobDetails.Segment}}</li> -->
                            <li><span class="icon flaticon-map-locator"></span>{{jobDetails.jobLocation}}</li>
                            <li><span class="icon flaticon-clock-3"></span>
                                {{jobDetails.createdDate | date:'EEEE, d, MMMM, yyyy'}}</li>
                            <li><span class="icon flaticon-money"></span> {{utils.getCurrency()}}
                                {{jobDetails.salaryRangeFrom | number:'.2'}} -
                                {{utils.getCurrency()}}{{jobDetails.salaryRangeTo | number:'.2'}}</li>
                        </ul>
                        <ul class="job-other-info">
                            <li class="time">{{jobDetails.jobType}}</li>
                            <!-- <li class="privacy">Private</li> -->
                            <li *ngIf="jobDetails.urgency" class="required">Urgent</li>
                        </ul>
                    </div>

                    <div class="btn-box">
                        <ng-container *ngIf="user">
                            <button class="theme-btn btn-style-one" (click)="openModal(applyForJob)">Apply For Job</button>
                        </ng-container>
                        <ng-container *ngIf="!user">
                            <button class="theme-btn btn-style-one" routerLink="/public-user/login">Apply For Job</button>
                        </ng-container>
                        <!-- <button class="bookmark-btn"><i class="flaticon-bookmark"></i></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="job-detail-outer" style="background-color: #ffffff;">
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="job-detail">

                        <h4>About the Company</h4>
                        <p style="white-space: pre-wrap;"> {{jobDetails.briefDescription}}</p>
                        <h4>Job Description</h4>
                        <p style="white-space: pre-wrap;">{{jobDetails.jobDescription}}</p>
                        <h4>Key Responsibilities</h4>
                        <ul class="list-style-three">
                            <p style="white-space: pre-wrap;">{{jobDetails.keyResponsibility}}</p>
                        </ul>
                        <h4>Skill & Experience</h4>
                        <ul class="list-style-three">
                            <p style="white-space: pre-wrap;">{{jobDetails.skillsAndExperience}}</p>
                        </ul>
                    </div>

                    <!-- Other Options -->
                    <!-- <div class="other-options">
                        <div class="social-share">
                            <h5>Share this job</h5>
                            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a href="#" class="twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            <a href="#" class="google"><i class="fab fa-google"></i> Google+</a>
                        </div>
                    </div> -->

                    <!-- Related Jobs -->


                </div>

                <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">

                        <div class="sidebar-widget company-widget">
                            <div class="widget-content">
                                <div class="company-title">
                                    <!-- <div class="company-logo"><img src="images/resource/company-7.png" alt=""></div> -->
                                    <h5 class="company-name">{{jobDetails.companyName}}</h5>
                                    <!-- <a href="#" class="profile-link">View company profile</a> -->
                                </div>

                                <ul class="company-info">
                                    <li>Primary industry: <span>{{jobDetails.primaryIndustry}}</span></li>
                                    <!-- <li>Company size: <span>501-1,000</span></li>
                                    <li>Founded in: <span>2011</span></li> -->
                                    <!-- <li>Phone: <span>123 456 7890</span></li>
                                    <li>Email: <span>info@joio.com</span></li> -->
                                    <li>Location: <span>{{jobDetails.address}}</span></li>
                                    <!-- <li>Social media: 
                                        <div class="social-links">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </li> -->
                                </ul>

                                <div class="btn-box" *ngIf="jobDetails.website"><a [href]="jobDetails.website"
                                        target="__blank" class="theme-btn btn-style-three">{{jobDetails.website}}</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Job Detail Section -->

<ng-template #applyForJob let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="applyForJobForm" (ngSubmit)="saveJobApplication()">
            <div class="form-group">
                <label for="coverLetter">Cover Letter</label>
                <textarea formControlName="coverLetter" class="form-control" rows="5" cols="3" placeholder="Cover letter"></textarea>
            </div>
            <div class="form-group">
                <label for="expectedSalary">Expected Salary <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" formControlName="expectedSalary" placeholder="Salary expectation"/>
            </div>
            <div class="form-group">
                <label for="howSoonCanYouResume">How soon can you resume? <sup class="text-danger">*</sup></label>
                <input type="text" formControlName="howSoonCanYouResume" class="form-control" placeholder="Availability"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="applyForJobForm.invalid">Apply</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>