<ngx-ui-loader fgsColor="#ff9900" fgsType="three-strings" pbColor="#ff9900" bgsColor="red" text="Loading..." textColor="#ffffff"></ngx-ui-loader>
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Register & Signup | Take Responsibility! Together we can curb the spread of the COVID19.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Contact Trace App | Take Responsibility! Together we can curb the spread of the COVID19." name="description" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>

    <body class="auth-fluid-pages pb-0">

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-left">
                            <div class="auth-logo">
                                <a href="index.html" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="../assets/images/contacttrace_logo_light.png" alt="" width="200" height="40">
                                    </span>
                                </a>
            
                                <a href="index.html" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="../assets/images/contacttrace_logo_light.png" alt="" width="200" height="40">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="grant_access">
                                <!-- title-->
                               

                                <form [formGroup]="form" (ngSubmit)="submit()">
                                    <h4 class="text-white mt-0">Reset your password</h4>
                               
                                    <p class="text-white mb-4">{{email_address}}</p>
                                    <div class="form-group">
                                        <label for="password" class="text-white-50">New Password</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="password" class="form-control" placeholder="Enter password" formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}">
                                            <div class="input-group-append" data-password="{toggle1}" id="password-eye-1" (click)="toggleBar(1)">
                                                <div class="input-group-text">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">this field is required</div>
                                                <div *ngIf="form.get('password').hasError('passwordStrength')">
                                                    {{form.get('password').errors['passwordStrength']}}
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_password" class="text-white-50">Confirm Password</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="password-2" class="form-control" placeholder="Confirm password" formControlName="password2" [ngClass]="{'is-invalid':submitted && f.password2.errors}">
                                            <div class="input-group-append" data-password="{toggle2}" id="password-eye-2" (click)="toggleBar(2)">
                                                <div class="input-group-text">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>

                                            <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                                                <div *ngIf="f.password2.errors.required">this field is required</div>
                                                <div *ngIf="f.password2.errors.mustMatch">Passwords must match</div>
                            
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                            <label class="custom-control-label text-white-50" for="checkbox-signup">I accept <a href="javascript: void(0);" class="text-white">Terms and Conditions</a></label>
                                        </div> -->
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary waves-effect waves-light btn-block text-white">Reset Password</button>
                                    </div>
                                    <!-- social-->
                                    
                                </form>
                    </div>
                       
                        <!-- end form-->

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <!-- <p class="text-white-50">Already have account? <a routerLink="/public-user/login" class="text-white ml-1"><b>Log In</b></a></p> -->
                        </footer>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            <div class="auth-fluid-right text-center">
				<div class="hero-graphics">
					
               
                <div class="graphic graphic-3" data-aos="fade-up">
                    <ng-lottie [options]="options"  width="800px" height="800px" (animationCreated)="animationCreated($event)"></ng-lottie>
                </div>
            </div>
                <div class="auth-user-testimonial">
                    <h3 style="color: chocolate; opacity: .6; font-weight: 700;">Play your part! Let's combat the corona virus.</h3>
                </div> <!-- end auth-user-testimonial-->
            </div>
			
            <!-- end Auth fluid right content -->
        </div>
   
    </body>
</html>