
<ngx-ui-loader fgsColor="#ff9900" fgsType="three-strings" pbColor="#ff9900" bgsColor="red" text="Loading..." textColor="#ffffff"></ngx-ui-loader>

<div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
        <div class="container-fluid">
            <!-- Main box -->
            <div class="main-box">
                <!--Nav Outer -->
                <div class="nav-outer">
                    <div class="logo-box">
                        <div class="logo">
                            <a routerLink="/access">
                                <img src="assets/images/_234recruiter.png" alt="" title="" width="154" height="50" />
                            </a>
                        </div>
                    </div>

                    <nav class="nav main-menu">
                        <ul class="navigation" id="navbar">
                            <!-- <li class=""> <span>Home</span></li> -->
                            <!-- <li class=""> <a routerLink="/access/user-profile"><span>Profile</span></a></li> -->
                            <!-- <ng-container *ngIf="role=='CANDIDATE'"> -->
                            <!-- <li class=""> <a routerLink="/access/upload-cv"><span>Upload CV</span></a></li> -->
                            <!-- <li class=""> <a routerLink="/access/job-search/-all-/-all-/-all-"><span>Find -->
                            <!-- Jobs</span></a></li> -->
                            <!-- </ng-container> -->
                            <!-- <ng-container *ngIf="role=='EMPLOYER'"> -->
                            <!-- <li class=""> <a routerLink="/access/post-a-job"><span>Post A Job</span></a></li> -->
                            <!-- </ng-container> -->


                            <!-- <li class=""> <span>About</span></li>
                                <li class=""> <span>FAQ</span></li> -->






                            <!-- Only for Mobile View -->

                        </ul>
                    </nav>
                    <!-- Main Menu End-->
                </div>

                <div class="outer-box">

                    <!-- <button class="menu-btn">
                            <span class="count">1</span>
                            <span class="icon la la-heart-o"></span>
                        </button> -->

                    <button class="menu-btn" (click)="logout()">
                        <span class="la la-sign-out"></span> Logout
                    </button>
                    <!-- <li class=""> <span >LogOut</span></li> -->
                    <!-- Dashboard Option -->
                    <!-- <div class="dropdown dashboard-option">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false"> 
                            <img src="images/resource/company-6.png" alt="avatar" class="thumb"> 
                            <span class="name">My Account</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="dashboard.html"> <i class="la la-home"></i> Dashboard</a></li>
                            <li><a href="dashboard-company-profile.html"><i class="la la-user-tie"></i>Company Profile</a></li>
                            <li><a href="dashboard-post-job.html"><i class="la la-paper-plane"></i>Post a New Job</a></li>
                            <li><a href="dashboard-manage-job.html"><i class="la la-briefcase"></i> Manage Jobs </a></li>
                            <li><a href="dashboard-applicants.html"><i class="la la-file-invoice"></i> All Applicants</a></li>
                            <li><a href="dashboard-resumes.html"><i class="la la-bookmark-o"></i>Shortlisted Resumes</a></li>
                            <li><a href="dashboard-packages.html"><i class="la la-box"></i>Packages</a></li>
                            <li><a href="dashboard-messages.html"><i class="la la-comment-o"></i>Messages</a></li>
                            <li><a href="dashboard-resume-alerts.html"><i class="la la-bell"></i>Resume Alerts</a></li>
                            <li><a href="dashboard-change-password.html"><i class="la la-lock"></i>Change Password</a></li>
                            <li><a href="dashboard-company-profile.html"><i class="la la-user-alt"></i>View Profile</a></li>
                            <li><a href="index-2.html"><i class="la la-sign-out"></i>Logout</a></li>
                            <li><a href="index-2.html"><i class="la la-trash"></i>Delete Profile</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo">
                <a routerLink="/access">
                    <img src="assets/images/_234recruiter.png" alt="" title="" />
                </a>
            </div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">

                <div class="outer-box">
                    <!-- Login/Register -->
                    <!-- <div class="login-box">
                            <a href="login.html" class="call-modal"><span class="icon-user"></span></a>
                        </div>

                        <button id="toggle-user-sidebar">
                            <img src="assets/images/resource/company-6.png" alt="avatar" class="thumb" />
                        </button> -->
                    <a href="javascript:;" class="mobile-nav-toggler navbar-trigger" (click)="mobileMenu = !mobileMenu">
                        <span class="flaticon-menu-1" *ngIf="!mobileMenu"></span>
                        <span class="flaticon-close-1" *ngIf="mobileMenu"></span>
                    </a>
                </div>
            </div>

        </div>

        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar" [ngStyle]="{'transform': mobileMenu ? 'none' : 'translateX(-100%)'}">

        <div class="sidebar-inner">
            <ul class="navigation">
                <!-- <a routerLink=""><span>Profile</span></a> -->
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/access']"> <i class="la la-home"></i> Dashboard</a>
                </li>
                <li routerLinkActive="active"><a [routerLink]="['/access/user-profile']"><i
                            class="la la-user-tie"></i> Profile</a></li>
                <li routerLinkActive="active" *ngIf="role != Candidate">
                    <a [routerLink]="['/access/post-a-job']">
                        <i class="la la-paper-plane"></i> Post a New Job</a>
                </li>
                <li routerLinkActive="active"><a [routerLink]="['/access/job-search/-all-/-all-/-all-']"><i
                            class="la la-briefcase"></i> Find Jobs </a></li>
                <li routerLinkActive="active"><a [routerLink]="['/access/upload-cv']"><i class="la la-file-invoice"></i>
                        Upload CV</a></li>
                <!-- <li><a href="dashboard-resumes.html"><i class="la la-bookmark-o"></i>Shortlisted Resumes</a></li>
                    <li><a href="dashboard-packages.html"><i class="la la-box"></i>Packages</a></li>
                    <li><a href="dashboard-messages.html"><i class="la la-comment-o"></i>Messages</a></li>
                    <li><a href="dashboard-resume-alerts.html"><i class="la la-bell"></i>Resume Alerts</a></li>
                    <li><a href="dashboard-change-password.html"><i class="la la-lock"></i>Change Password</a></li>
                    <li><a href="dashboard-company-profile.html"><i class="la la-user-alt"></i>View Profile</a></li> -->
                <li><a href="javascript:;" (click)="logout()"><i class="la la-sign-out"></i>Logout</a></li>
                <!-- <li><a href="index-2.html"><i class="la la-trash"></i>Delete Profile</a></li> -->
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!--End Main Header -->
    <router-outlet></router-outlet>
    <!-- Main Footer -->




    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 234Recruiters. All Right Reserved.</p>
    </div>

</div><!-- End Page Wrapper -->
